name: Build and deploy Python project to Azure Function App - chatFunctionApp

on:
  push:
    branches:
      - main
  workflow_dispatch:

env:
  PYTHON_VERSION: '3.11'

jobs:
  deploy:
    runs-on: ubuntu-latest

    permissions:
      id-token: write
      contents: read

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Setup Python
        uses: actions/setup-python@v5
        with:
          python-version: ${{ env.PYTHON_VERSION }}

      - name: Login to Azure
        uses: azure/login@v2
        with:
          client-id: ${{ secrets.AZUREAPPSERVICE_CLIENTID_018936DC4F3049B2B12A9D65B81C5D04 }}
          tenant-id: ${{ secrets.AZUREAPPSERVICE_TENANTID_FEA617C220FD4914AD6337D962FF10A7 }}
          subscription-id: ${{ secrets.AZUREAPPSERVICE_SUBSCRIPTIONID_5B7DF8B8856142DFA52C1BD19CA7F831 }}

      - name: Deploy to Azure Functions
        uses: Azure/functions-action@v1
        with:
          app-name: chatFunctionApp
          package: '.'
          scm-do-build-during-deployment: true
          enable-oryx-build: true
